<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" routerLink="">Logo</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="">Trang Chủ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/danhsachphim">Danh Sách Phim</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tintuc">Tin Tức</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>