.ghe{
    background-color: rgb(255, 182, 45);
    margin: 2px;
    color: white;
    width: 41px;
    border: none;
}
.booked{
    background-color: rgb(255, 0, 0);
    cursor: no-drop;
}
.check{
    background-color: rgb(22, 131, 107);
}